shellies:
  web:
    user: admin
    pass: <your admin web pwd>
  mqtt:
    user: <your mqtt user>
    pass: <your mqtt password>
    update_period: 120
    enabled: "true"
    clean: "true"
    server: <server ip:port>
    max_qos: 1
    mqtt_retain: "false"
  wifi1:
    ssid: <your wifi ssid>
    key: <your wifi password>
    ipv4_method: dhcp
    enable: "true"
  wifi2:
    ssid: <your fallback ssid>
    key: <your fallback wifi password>
    ipv4_method: dhcp
    enable: "false"
  sntp:
    server: 192.168.2.1
  discoverable: "false"
  wifirecovery_reboot_enabled: true
  ap_roaming:
    enabled: "true"
    threshold: -85
  eco_mode: "true"

